<h1>Navbar Placeholder</h1>

<h3>Links Placeholder</h3>

<a routerLink="/listPosts" class="btn btn-info">List Posts</a>
<br/>
<a routerLink="/createPost/1" class="btn btn-info">Create Post</a>
<!--Todo: change '1' to the currently logged in user or reroute to login-->
<br/>
<a routerLink="/listUsers" class="btn btn-info">List Users</a>
<br/>
<a routerLink="/createUser" class="btn btn-info">Create Users</a>
<br/>
<a routerLink="/listComments/1" class="btn btn-info">List Comments</a>


<router-outlet></router-outlet>



<!--footer section-->
<!--<footer class="fixed-bottom bg-dark">
  &lt;!&ndash; Copyright &ndash;&gt;
  <div class="text-center text-light" >
    © 2021 Copyright:
    <a class="text-light" href="http://localhost:4200/">Eindwerk Java Potentials</a>
  </div>
</footer>-->
